.sidebar{
    display:flex;
    flex-direction: column;
    flex:0.35;


    /* flex:0.35 means that Chat component take 35 precent 
    of the screen */
}


.sidebar_header{
    display:flex;
    justify-content:space-between;
    padding: 20px;
    border-right:1px solid lightgray;
}


.sidebar_headerRight{
    display:flex;
    align-items:center;
    justify-content:space-between;
    min-width:10vw;
}

.sidebar_headerRight>.MuiSvgIcon-root{
    

}